label {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: inline-block;
  width: 150px;
}
form ul {
  list-style: none;
  padding-left: 5px;
}

form {
  background-color: #555;
}
.boutonOk {
  font-size: 1.5rem;
  width: 10%;
  background-color: #4CAF50;
  color: rgb(0, 0, 0);
  padding: 14px 20px;
  margin: 8px;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
input[type=text], select {
  width: 20%;
  padding: 12px 20px;
  margin: 8px ;
  border: 5px solid rgba(3, 49, 11, 0.411);
}
.BarDeRecherche{
    
  padding-top: 1%;
  text-align: center;
  border-color: #4CAF50;
}
input[type=search], select {
  height: 3%;
  width: 20%;
}
button{
  height: 3%;
  border-radius: 10%;
  cursor: pointer;
}
.FormConnexionEtInscription{
  text-align: center;
  border-color: #4CAF50;
}
input[type=file], select {
  height: 3%;
  width: 20%;
}

  
    
